

.main-container{
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
